body {
  background-color: #e8f5e2;
  margin: 0;
}

.logo {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.img-h1 {
  display: flex;
  gap: 6px;
}

.khat {
  display: flex;
  align-items: center;
}

.links {
  display: none;
}

.tear {
  display: none;
}

.date {
  border: 1px solid #000000;
}

.h1 {
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
  font-size: 2rem;
}

.h3 {
  padding-left: 90px;
}

.imgs {
  display: flex;
  padding-left: 90px;
}

.imgs-2,
.imgs-3,
.imgs-4,
.imgs-5 {
  margin-left: -10px;
}

.khat-1 {
  border: 1px solid #000000;
  margin-top: 3rem;
}

.h1-1 {
  background-color: black;
  color: white;
  width: 29px;
  height: 29px;
  border-radius: 100%;
  text-align: center;
}

.h1-2 {
  background-color: black;
  color: white;
  width: 29px;
  height: 29px;
  border-radius: 100%;
  text-align: center;
}

.h1-3 {
  background-color: black;
  color: white;
  width: 29px;
  height: 29px;
  border-radius: 100%;
  text-align: center;
}
