body {
  background-color: #e8f5e2;
  margin: 0;
}

.logo {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.Eraser-image {
  display: flex;
  gap: 6px;
}

.threa-line-image {
  display: flex;
  align-items: center;
}

.links {
  display: none;
}

.tear {
  display: none;
}

.line-1 {
  border: 1px solid #000000;
}

.h1-shopping {
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
  font-size: 2rem;
}

.h3-Used {
  padding-left: 90px;
}

.imgs {
  display: flex;
  padding-left: 90px;
}

.imgs-2,
.imgs-3,
.imgs-4,
.imgs-5 {
  margin-left: -10px;
}

.line-2 {
  border: 1px solid #000000;
  margin-top: 3rem;
}

/* 1 */

.header-download {
  display: flex;
  gap: 1.3rem;
  padding-top: 3.3rem;
  padding-left: 1.3rem;
}

.number-1 {
  background-color: #000000;
  color: white;
  width: 29px;
  height: 29px;
  border-radius: 100%;
  text-align: center;
}

.Download {
  font-weight: 400;
}

/* 2 */

.header-visit {
  display: flex;
  gap: 1.3rem;
  padding-left: 1.3rem;
}

.number-2 {
  background-color: #000000;
  color: white;
  width: 29px;
  height: 29px;
  border-radius: 100%;
  text-align: center;
}

.visit {
  font-weight: 400;
}

/* 3 */

.header-save {
  display: flex;
  gap: 1.3rem;
  padding-left: 1.3rem;
}

.number-3 {
  background-color: #000000;
  color: white;
  width: 29px;
  height: 29px;
  border-radius: 100%;
  text-align: center;
}

.save {
  font-weight: 700;
}

span {
  color: #608a4d;
}

.last-div {
  display: flex;
}
