body {
  background-color: #e8f5e2;
  margin: 0;
}

.logo {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.img-h1 {
  display: flex;
  gap: 6px;
}

.khat {
  display: flex;
  align-items: center;
}

.links {
  display: none;
}

.tear {
  display: none;
}

.date {
  border: 1px solid #000000;
}

.h1 {
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
  font-size: 2rem;
}

.h3 {
  padding-left: 90px;
}

.imgs-1 {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  object-fit: cover;
}

.imgs-2 {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  object-fit: cover;
}

.imgs-3 {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  object-fit: cover;
}

.imgs-4 {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  object-fit: cover;
}

.imgs-5 {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  object-fit: cover;
}
